<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css"
	/>

	<body>
		<div
			class="uk-container"
			style="
				margin-top: 10px;
				margin-bottom: 25px;
				max-width: 980px;
				min-height: 320px;
			"
		>
			<p style="color: black">Dear {{.FullName}},</p>
			<p style="color: black">
				You have successfully registered to the 6th SciTech Forum on
				Space Engineering and Operations Support. If you join online,
				please find the Zoom link below:<br />
				https://us06web.zoom.us/meeting/register/a7NZ3jCgQRyI1N-wdhPFIA
			</p>
			<p style="color: black">
				Best Regards,<br />
				Local Organizing Committee
			</p>
		</div>
	</body>
</html>
