@import "tailwindcss";

@theme {
    --color-primary: #0056a6;

    --color-text-primary: #002159;
    --color-link: #1e87f0;
    --color-link-hover: #0f6ecd;
}

html {
    @apply text-text-primary
}

.container {
    max-width: 980px;




}

.paragraph {
    @apply mt-4 text-justify
}

.link {
    @apply text-link hover:text-link-hover hover:underline
}

.button-promo {
    @apply text-white bg-primary hover:underline py-3 px-16 text-lg
}


.sessions-table-full {
    border-collapse: collapse;
    width: 100%;
}

.sessions-table-full tr {
    border-bottom: 1px solid #ccc;
}

.sessions-table-full tr:last-child {
    border-bottom: none;
}

.sessions-table-full td {
    border-right: 1px solid #ccc;
    padding: 1rem;
    vertical-align: top;
}

.sessions-table-full td:last-child {
    border-right: none;
}

.form {
    @apply space-y-4
}

.form-field {
    @apply flex flex-col
}

.form-input {
    @apply px-2 py-1 border rounded
}

.form-error {
    @apply text-red-500 text-sm
}

.form-label {
    @apply text-lg flex flex-row gap-2 items-center
}

.form-checkbox {
    @apply w-5 h-5
}

.program__table {}

.program__table .program-time__cell {
    @apply whitespace-nowrap text-center
}

.program__table td {
    @apply py-2 px-8 border border-gray-300
}

.program__table tr:first-child td {
    border-top: none;
}

.program__table td {
    border-left: none;
    border-right: none;
}

.program__table td:last-child {
    border-right: none;
}

.program__table tr:last-child td {
    border-bottom: none;
}